&lt;p&gt;Login Page Grid&lt;/p&gt;&NewLine;&NewLine;&lt;main class=&quot;wrap&quot;&gt;&NewLine;&Tab;&lt;div class=&quot;login&quot;&gt;&NewLine;&Tab;&Tab;&lt;h3&gt;Sign in&lt;/h3&gt;&NewLine;&Tab;&Tab;&lt;label for=&quot;&quot;&gt;Username&lt;/label&gt;&NewLine;&Tab;&Tab;&lt;input type=&quot;text&quot; name=&quot;&quot; id=&quot;input&quot; class=&quot;form-control&quot; value=&quot;&quot; required=&quot;required&quot; pattern=&quot;&quot; title=&quot;&quot;&gt;&NewLine;&NewLine;&Tab;&Tab;&lt;label for=&quot;&quot;&gt;Password&lt;/label&gt;&NewLine;&Tab;&Tab;&lt;input type=&quot;text&quot; name=&quot;&quot; id=&quot;input&quot; class=&quot;form-control&quot; value=&quot;&quot; required=&quot;required&quot; pattern=&quot;&quot; title=&quot;&quot;&gt;&NewLine;&NewLine;&Tab;&Tab;&lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;Log-in&lt;/button&gt;&NewLine;&Tab;&lt;/div&gt;&NewLine;&lt;/main&gt;