&lt;!-- &lt;a href=&quot;&quot;&gt;anchor&lt;/a&gt;&NewLine;&lt;a href=&quot;&quot;&gt;a:focus&lt;/a&gt;&NewLine;&lt;a href=&quot;#&quot;&gt;a:hover&lt;/a&gt;&NewLine;&lt;a href=&quot;#&quot;&gt;a:visited&lt;/a&gt;&NewLine;&lt;a href=&quot;#&quot;&gt;a:active&lt;/a&gt; --&gt;